/* App.css */

/* Global styles for layout */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .btn-E{
    color: red;
  }
  
  .app-main {
    flex-grow: 1;
  }
  
  /* Footer styles */
  .app-footer {
    background-color:#d82b7e;
    color: white;
    text-align: center;
    padding: 40px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-about {
    margin-bottom: 30px;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    margin-bottom: 20px;
  }
  
  .footer-social p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  
  /* Footer contact */
  .footer-contact p {
    font-size: 16px;
    margin: 5px 0;
  }
  